<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layout :: head('explore')"></head>

<body class="grey lighten-4">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<section class="section ">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l8 offset-l2">
                <div class="card-panel login blue-text center">
                    <h5>adding a part</h5>
                    <form th:action="@{addpart(sectionid=${#httpServletRequest.getParameter('sectionid')},courseid=${#httpServletRequest.getParameter('courseid')})}" method="post" th:object="${newPart}" enctype="multipart/form-data">
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" th:field="*{partName}" id="name">
                            <label class="blue-text" for="name">name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" th:field="*{description}" id="desc">
                            <label class="blue-text" for="desc">description</label>
                        </div>
                        <div class="input-field">
                            <select th:field="*{FileType}" id="Type">
                                <option value="PDF">PDF</option>
                                <option value="VIDEO">VIDEO</option>
                            </select>
                            <label class="blue-text" for="Type">File Type</label>
                        </div>
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>File</span>
                                <input type="file" name="video" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload one or more files">
                            </div>
                        </div>


                        <input type="submit" value="Create" class="btn btn-large btn-extended grey lighten-4 black-text">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->

<div th:replace="layout :: footer"></div>


<!-- Preloader -->
<div th:replace="layout :: preload"></div>

<div th:replace="layout :: scripts"></div>
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
</body>

</html>