<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="layout :: head('explore')"></head>

<body class="grey lighten-4">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<section class="section  grey lighten-4">
    <div class="container1">
        <div class="row">
            <div class="col s9 m9 l9 ">

                    <div class="card-content">

                    <div class="row">
                        <div class="col s12 m6" th:each="c:${PageCourses.content}">
                            <div class="card sticky-action">
                                <div class="card-image">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <a href="#" class="center-align btn-floating btn-large price waves-effect waves-light " th:inline="text">[[${c.price}]]$</a>
                                        <img th:src="@{getPhoto(id=${c.id})}">
                                    </div>
                                    <h2 class="card-title black-text"  th:text="${c.title}">Card Title</h2>
                                </div>
                                <ul class="card-action-buttons">
                                    <li><a href="#" class="btn-floating waves-effect waves-light white"><i class="material-icons grey-text text-darken-3">share</i></a>
                                    </li>
                                    <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="material-icons like">favorite_border</i></a>
                                    </li>
                                    <li><a id="buy" class="btn-floating waves-effect waves-light blue"><i class="material-icons buy">add_shopping_cart</i></a>
                                    </li>
                                </ul>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4" th:inline="text" >
                                        [[${c.title}]]<i class="material-icons right">more_vert</i></span>
                                    <span> <i class="thin material-icons al">assessment</i> <a th:text="${c.level}"></a> </span> <br>
                                   <span> <i class="thin material-icons al">code</i><a th:text="${c.category.CategoryName}"></a></span> <br>
                                    <span> <i class="thin material-icons al">alarm</i><a th:text="${c.estimatedTime}"></a></span>
                                </div>
                                <div class="card-action">

                                    <a sec:authorize="hasAuthority('student') " th:href="@{/student/achter(courseId=${c.id})}"  class="btn red">Acheter</a>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4" th:inline="text" >
                                       [[${c.title}]]<i class="material-icons right">close</i>
                                    </span>
                                   <br><span>Description</span> <p th:text="${c.description}">Here is some more information about this product that is only revealed once clicked on.</p>
                                   <br><span>Prérequis</span> <p th:text="${c.prerequisites}">Here is some more information about this product that is only revealed once clicked on.</p>
                                   <br><span>Difficulté</span> <p th:text="${c.getLevel()}">Here is some more information about this product that is only revealed once clicked on.</p>
                                   <br><span>durré</span> <p th:text="${c.estimatedTime}">Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#!" class="blue-text">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                            <li class="blue lighten-2" th:each="page,status:${pages}">
                                <a th:class="${status.index == currentPage ? 'active' :''}"
                                         th:href="@{/courses/home(page=${status.index})}" class="white-text" th:text="${status.index+1}">1</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                        </ul>
                    </div>

            </div>
        </div>
            <div class=" col s3 m3 l3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Search</span>
                        <form method="get" th:action="@{/courses/search(type='keyword')}">
                            <div class="input-field">
                                <input name="keyword" type="text" placeholder="chercher un cours">
                                <input name="type" type="hidden" th:value="keyword">
                            </div>
                        </form>
                    </div>
                </div>



                <div>

                    <h5 class="center-align">les Professeurs</h5>
                    <ul class="collection">
                        <li class="collection-item avatar" th:each="ins:${profs}">
                            <img  src="../static/img/prof.png"  th:src="@{/img/prof.png}" alt="" class="circle">
                            <a th:inline="text" th:href="@{/courses/search(type='prof',keyword=${ins.username})}">
                                [[${ins.firstname }]]
                                [[${ins.lastname }]]
                            </a>
                            <p th:text="${ins.speciality}">First Line <br>
                                Second Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h5 class="center-align">les categories</h5>

                <ul class="collection ">
                    <li class="collection-item avatar" th:each="cat:${categorie}">
                        <img  src="../static/img/category_img.png"  th:src="@{/img/category_img.png}" alt="" class="circle">
                       <a th:href="@{/courses/search(type='category',keyword=${cat.categoryName})}" th:text="${cat.CategoryName}"> </a>
                    </li>

                </ul>
                </div>


                <div>


                </div>
            </div>
    </div>
    </div>
</section>






<!-- serach Modal -->
<div id="search-modal" class="modal">
    <div class="modal-content">
        <h4>chercher</h4>
        <form th:action="@{search}" method="post" >
            <div class="input-field">
               <!-- <input type="text" th:field="*{CategoryName}" id="categoryname">-->
               <!-- <label for="categoryname">Name</label>-->
            </div>
            <input type="submit" value="chercher" class="modal-action modal-close btn blue white-text">
        </form>
    </div>
</div>
<!-- Footer -->

<div th:replace="layout :: footer"></div>


<!-- Preloader -->
<div th:replace="layout :: preload"></div>

<div th:replace="layout :: scripts"></div>

<script>
    // Init Modal
    $('.modal').modal();
</script>
</body>

</html>