<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('explore')"></head>

<body class="grey lighten-4">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>


<section class="section  grey lighten-4">

        <div class="row">
            <div class="col s12">
                <div class="card large" >
                    <div class="card-image">
                    <img th:src="@{/img/cours.jpg}">
                    <span class="card-title blue-text darken-3 large"  th:text="${cours.getTitle()}">Card Title</span>

                    </div>
                </div>
                <div class="card">
                    <div class="card-content">

                        <div class="row">
                            <span> Title:</span> <span class="card-title blue-text darken-3 large"  th:text="${cours.getTitle()}">Card Title</span>
                           <span>level :</span> <span class="card-title blue-text darken-3 large"  th:text="${cours.getLevel()}">Card Title</span>



                        </div>

                        <div class="row  offset-l1 l10 m8 offset-m2">
                            <div >
                            <ul class="collapsible">
                                <li th:each="s:${sections}">
                                    <div class="collapsible-header" th:text="${s.getSectionName()}"><i class="material-icons">filter_drama</i></div>
                                    <div class="collapsible-body">
                                        <span th:text="${s.getDescription()}">Lorem ipsum dolor sit amet.</span>

                                    </div>
                                </li>

                            </ul>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

</section>


<!-- Footer -->
<div th:replace="layout :: footer"></div>

<!-- Preloader -->
<div th:replace="layout :: preload"></div>

<div th:replace="layout :: scripts"></div>
<script>
    $('.dropdown-trigger').dropdown();
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>
</body>

</html>