<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('explore')"></head>

<body class="grey lighten-4">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>

<div class="container">
<section class="section  grey lighten-4">

        <div class="row">
            <div class="col s12">
                <div class="card large" >
                    <div class="card-image">
                    <img th:src="@{getPhoto(id=${cours.id})}">
                    <span class="card-title blue-text darken-3 large"  th:text="${cours.getTitle()}">Card Title</span>

                    </div>
                </div>
                <div class="card">
                    <div class="card-content">

                        <div class="row">
                            <span> Categorie:</span> <span class="card-title blue-text darken-3 large"  th:text="${cours.category.CategoryName}">Card Title</span>
                           <span>level :</span> <span class="card-title blue-text darken-3 large"  th:text="${cours.getLevel()}">Card Title</span>
                        </div>
                        <a  href="#section-modal" class="modal-trigger  waves-effect waves-light btn blue">Add Section</a>
                        <div class="row  offset-l1 l10 m8 offset-m2">
                            <div >
                            <ul class="collapsible">
                                <li th:each="s:${Sections}">
                                    <div class="collapsible-header" th:text="${s.sectionName}"><i class="material-icons">filter_drama</i></div>
                                    <div class="collapsible-body">
                                        <a th:href="@{/courses/section(sectionid=${s.id},courseid=${s.course.id})}" class="modal-trigger  waves-effect waves-light btn blue right-button">Add part</a>
                                        <span th:text="${s.description}">Lorem ipsum dolor sit amet.</span>

                                    </div>

                                </li>

                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
</div>
<!-- Add section Modal -->
<div id="section-modal" class="modal">
    <div class="modal-content">
        <h4>Add section</h4>
        <form th:action="@{addsection(id=${cours.id})}" method="post" th:object="${newsection}">
            <div class="input-field">
                <input type="text" th:field="*{sectionName}" id="sectionname">
                <label for="sectionname">Name</label>
            </div>
            <div class="input-field">
                <input type="text" th:field="*{description}" id="desc">
                <label for="desc">description</label>
            </div>

            <input type="submit" value="Add" class="modal-action modal-close btn blue white-text">
        </form>
    </div>
</div>


<!-- Footer -->
<div th:replace="layout :: footer"></div>

<!-- Preloader -->
<div th:replace="layout :: preload"></div>

<div th:replace="layout :: scripts"></div>
<script>
    $('.dropdown-trigger').dropdown();
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
    // Init Modal
    $('.modal').modal();
</script>
</body>

</html>