<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('explore')"></head>

<body class="grey lighten-4">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<section class="section  grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">courses</span>
                        <table class="striped">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Prerequisites</th>
                                <th>Level</th>
                                <th>estimated Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c:${Courses}">
                                <td th:text="${c.title}"></td>
                                <td th:text="${c.prerequisites}"></td>
                                <td th:text="${c.level}"></td>
                                <td th:text="${c.estimatedTime}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#!" class="blue-text">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                            <li class="active blue lighten-2">
                                <a href="#!" class="white-text">1</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">2</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">3</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">4</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">5</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Fixed Action Button -->
<div class="fixed-action-btn">
    <a href="/courses/create" class="modal-trigger btn-floating btn-large red">
        <i class="material-icons">add</i>
    </a>
</div>

<!-- Footer -->

<div th:replace="layout :: footer"></div>


<!-- Preloader -->
<div th:replace="layout :: preload"></div>

<div th:replace="layout :: scripts"></div>
</body>

</html>