<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('explore')"></head>

<body class="grey lighten-4">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<section class="section  grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card" >
                    <div class="card-content">
                        <span class="card-title">courses</span>
                    <div class="row">
                        <div class="col s12 m6" th:each="c:${Courses}">
                            <div class="card">
                                <div class="card-image">
                                    <img th:src="@{getPhoto(id=${c.id})}">
                                    <span class="card-title blue-text darken-4"  th:text="${c.title}">Card Title</span>
                                    <a th:href="@{/courses/coursDetails(id=${c.id})}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">dehaze</i></a>
                                </div>
                                <div class="card-content">
                                    <p th:text="${c.description}">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    <p th:text="${c.level}">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#!" class="blue-text">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                            <li class="active blue lighten-2">
                                <a href="#!" class="white-text">1</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">2</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">3</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">4</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">5</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



<!-- Fixed Action Button -->
<div class="fixed-action-btn">
    <a href="/courses/create" class="modal-trigger btn-floating btn-large red">
        <i class="material-icons">add</i>
    </a>
</div>

<!-- Footer -->

<div th:replace="layout :: footer"></div>


<!-- Preloader -->
<div th:replace="layout :: preload"></div>

<div th:replace="layout :: scripts"></div>
</body>

</html>