<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layout :: head('explore')"></head>

<body class="grey lighten-4">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<section class="section section-login">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l8 offset-l2">
                <div class="card-panel  blue-text center">
                    <h2>Register</h2>
                    <form th:action="@{SaveInstructor}" method="post" th:object="${instructor}">
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" th:field="*{firstname}" id="FName" class="validate">
                            <label class="blue-text" for="FName">First Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" th:field="*{lastname}" id="LName">
                            <label class="blue-text" for="LName">Last Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input type="email" th:field="*{email}" id="email">
                            <label class="blue-text" for="email">E-mail</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">phone</i>
                            <input type="tel" th:field="*{phonenumber}" id="Phone">
                            <label class="blue-text" for="Phone">Phone Number</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="number" th:field="*{age}" id="Age">
                            <label class="blue-text" for="Age">Age</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">room</i>
                            <input type="text" th:field="*{city}" id="city">
                            <label class="blue-text" for="city">City</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">room</i>
                            <input type="text" th:field="*{country}" id="country">
                            <label class="blue-text" for="country">Country</label>
                        </div>

                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" th:field="*{speciality}" id="speciality">
                            <label class="blue-text" for="speciality">Speciality</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <textarea th:field="*{bio}" id="bio"></textarea>
                            <label class="blue-text" for="bio">Biographie</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" th:field="*{username}" id="username">
                            <label class="blue-text" for="username">User Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input type="password" id="password">
                            <label class="blue-text" for="password">Password</label>
                        </div>
                        <div class="input-field">

                            <select th:field="*{gender}" id="gender">

                                <option value="male">male</option>
                                <option value="female">female</option>
                            </select>
                            <label class="blue-text" for="gender">Gender</label>

                        </div>

                        <input type="submit" value="Register" class="btn btn-large btn-extended grey lighten-4 black-text">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->

<div th:replace="layout :: footer"></div>


<!-- Preloader -->
<div th:replace="layout :: preload"></div>

<div th:replace="layout :: scripts"></div>
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
    $('.dropdown-trigger').dropdown();
</script>
</body>

</html>