<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('explore')"></head>

<body class="grey lighten-4">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
  <section  class="section section-login">
    <div class="container">
      <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel login blue darken-2 white-text center">
            <h2> Login</h2>
            <form action="index.html">
              <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input type="email" id="email">
                <label class="white-text" for="email">UserName</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input type="password" id="password">
                <label class="white-text" for="password">Password</label>
              </div>
              <input type="submit" value="Login" class="btn btn-large btn-extended grey lighten-4 black-text">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->

<div th:replace="layout :: footer"></div>


  <!-- Preloader -->
<div th:replace="layout :: preload"></div>

<div th:replace="layout :: scripts"></div>
<script>
    $('.dropdown-trigger').dropdown();
</script>
  </body>

</html>