<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="layout :: head('explore')"></head>

<body class="grey lighten-4">
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<section class="section  grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card" >
                    <div class="card-content">
                        <span class="card-title">courses</span>
                    <div class="row">
                        <div class="col s12 m6" th:each="c:${Courses}">
                            <div class="card sticky-action">
                                <div class="card-image">
                                    <div class="card-image waves-effect waves-block waves-light">

                                        <img th:src="@{//localhost:8081/courses/getPhoto(id=${c.id})}">
                                    </div>
                                    <h2 class="card-title black-text"  th:text="${c.title}">Card Title</h2>
                                </div>
                                <ul class="card-action-buttons">
                                    <li><a href="#" class="btn-floating waves-effect waves-light white"><i class="material-icons grey-text text-darken-3">share</i></a>
                                    </li>
                                    <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="material-icons like">favorite_border</i></a>
                                    </li>

                                </ul>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4" th:inline="text" >
                                        [[${c.title}]]<i class="material-icons right">more_vert</i></span>
                                    <span> <i class="thin material-icons al">assessment</i> <a th:text="${c.level}"></a> </span> <br>
                                   <span> <i class="thin material-icons al">code</i><a th:text="${c.category.CategoryName}"></a></span> <br>
                                    <span> <i class="thin material-icons al">alarm</i><a th:text="${c.estimatedTime}"></a></span>
                                </div>
                                <div class="card-action">

                                    <a sec:authorize="hasAuthority('student') " th:href="@{/student/studentCoursDetails(courseId=${c.id})}"  class="btn red">accéder au cours</a>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4" th:inline="text" >
                                       [[${c.title}]]<i class="material-icons right">close</i>
                                    </span>
                                   <br><span>Description</span> <p th:text="${c.description}">Here is some more information about this product that is only revealed once clicked on.</p>
                                   <br><span>Prérequis</span> <p th:text="${c.prerequisites}">Here is some more information about this product that is only revealed once clicked on.</p>
                                   <br><span>Difficulté</span> <p th:text="${c.getLevel()}">Here is some more information about this product that is only revealed once clicked on.</p>
                                   <br><span>durré</span> <p th:text="${c.estimatedTime}">Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#!" class="blue-text">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                            <li class="active blue lighten-2">
                                <a href="#!" class="white-text">1</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">2</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">3</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">4</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">5</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!" class="blue-text">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>




<!-- Fixed Action Button -->
<div class="fixed-action-btn">
    <a href="#search-modal" class="modal-trigger btn-floating btn-large red">
        <i class="material-icons">search</i>
    </a>
</div>

<!-- serach Modal -->
<div id="search-modal" class="modal">
    <div class="modal-content">
        <h4>chercher</h4>
        <form th:action="@{search}" method="post" >
            <div class="input-field">
               <!-- <input type="text" th:field="*{CategoryName}" id="categoryname">-->
               <!-- <label for="categoryname">Name</label>-->
            </div>
            <input type="submit" value="chercher" class="modal-action modal-close btn blue white-text">
        </form>
    </div>
</div>
<!-- Footer -->

<div th:replace="layout :: footer"></div>


<!-- Preloader -->
<div th:replace="layout :: preload"></div>

<div th:replace="layout :: scripts"></div>

<script>
    // Init Modal
    $('.modal').modal();
</script>
</body>

</html>